@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <main>
        <div class="content hero-sec">
            <h1>Traveling<span>world</span></h1>
            <p>
                Travelling is an amazing way to learn a lot of things in life.
                <br>
                A lot of people around the world travel every year to many places.
                <br>
                Moreover, it is important to travel to humans.
                <br>
                Some travel to learn more while some travel to take a break from their life.
            </p>
            <a class="hero-btn" href="https://travel.usnews.com/rankings/worlds-best-vacations" target="_blank">
            <button>Explore Places</button>
            </a>
        </div>
    </main>
    <br><br><br>
    <div class="contain">
        <div class="row">
          <div class="col-md-4">
          <a target="_blank" href="img_5terre.jpg">
            <img src="~/images/ist.jpg" alt="Cinque Terre" width="600" height="400">
          </a>
          <div class="desc">Mosque in Istambul</div>
          </div>
        
        
        <div class="col-md-4">
          <a target="_blank" href="img_forest.jpg">
            <img src="~/images/taj.jpg" alt="Forest" width="600" height="400">
          </a>
          <div class="desc">Taj Mahal India</div>
        </div>
        
        <div class="col-md-4">
          <a target="_blank" href="img_lights.jpg">
            <img src="~/images/itly.jpg" alt="Northern Lights" width="600" height="400">
          </a>
          <div class="desc">Historical place in Itlay</div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            <a target="_blank" href="img_5terre.jpg">
              <img src="~/images/burg.jpg" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Thailand</div>
            </div>
          
          
          <div class="col-md-4">
            <a target="_blank" href="img_forest.jpg">
              <img src="~/images/thai.jfif" alt="Forest" width="600" height="400">
            </a>
            <div class="desc">Burj Khalifa Dubai</div>
          </div>
          
          <div class="col-md-4">
            <a target="_blank" href="img_lights.jpg">
              <img src="~/images/bal.jfif" alt="Northern Lights" width="600" height="400">
            </a>
            <div class="desc">Baljium</div>
          </div>
          </div>
    </div>
    <br><br><br>
   
