
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <main class="center">
        <form class="form" action="/index.html">
            <h2>Login Here</h2>
            <input type="Email" name="Email" placeholder="Enter Email">
            <input type="Password" name="Password" placeholder="Enter Password">
            <button class="btnn">Login</button>
        </form>
    </main>

