* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #ff0b55;
    --primary-light: #d61d4e;
    --secondary: #fdd7e1;
    --black: #353a41;
    --white: #eff5f5;
}

body {
    font-family: Arial;
}

.hero-sec {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%),url('../images/plane.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: var(--primary);
    font-size: 2.5rem;
    margin-left: 3cm;
}

.logo a {
    text-decoration: none;
    color: var(--primary);
}

header {
    background-color: var(--black);
    padding: 1rem 0;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}

.navbar ul li {
    list-style: none;
   
    
}
.navbar ul li a {
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
    transition: 0.4s ease-in-out;
    font-size: 20px;
    padding: 12px 12px;
}

.navbar ul li a:hover {
    color: var(--white);
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.content {
    color: white;
    text-align: center;
    margin-left: 1px;
}

.content h1 {
    text-align: center;
    font-family: Arial;
    font-size: 3rem;
    margin-top: 6rem;
}

.content p {
    margin-top: 2rem;
}

.hero-btn {
    color: var(--white);
    text-decoration: none;
}

.hero-btn button {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--black);
    padding: 0.8rem 1.5rem;
    margin-top: 4rem;
    border: 1px solid var(--black);
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--primary);
    font-size: 20px;
}

.hero-btn button:hover {
    color: var(--white);
    background-color: var(--primary-light);
}

.content.cn {
    width: 160px;
    height: 40px;
    background-color: darkgreen;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content.cn a {
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover {
    background-color: #fff;
}

.content span {
    color: var(--primary);
    font-size: 65px;
}

.form {
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);
    border-radius: 10px;
    padding: 1rem 2rem;
}
.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form h2 {
    padding: 1rem 2rem;
    margin: 0 0;
    font-family: sans-serif;
    text-align: center;
    color: var(--primary);
    font-size: 22px;
    background-color: var(--white);
    border-radius: 10px;
}

.form input {
    width: 16rem;
    height: 3rem;
    margin: 1.5rem auto 1rem auto;
    background: transparent;
    border-bottom: 1px solid var(--primary-light);
    border-top: none;
    border-right: none;
    border-left: none;
    color: var(--white);
    font-size: 15px;
    font-family: sans-serif;
}

.form input:focus {
    outline: none;
}

::placeholder {
    color: #fff;
    font-family: Arial;
}

.btnn {
    width: 240px;
    height: 40px;
    background: var(--primary);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
    font-weight: bold;
}

.btnn:hover {
    background: var(--white);
    color: var(--primary-light);
}

.form.link a {
    text-decoration: none;
    color: darkgreen;
}

footer  {
    background-color: var(--black);
    width: 100%;
    padding: 2% 6%;
}

footer P {
    text-align: center;
    color: var(--white);
    font-size: 15px;
}

.icon a {
    text-decoration: none;
    color: var(--white);
}

.icons ion-icon {
    color: var(--white);
    text-decoration: none;
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    transition: 0.3s ease;
}

.icons ion-icon:hover {
    color: var(--primary);
}
div.col-md-4 {
    margin: 20px 30px;
    border: 1px solid #ccc;
    float: right;
    width: 300px;
    align-content: center;
    
    }
    div.col-md-4:hover {
    border: 1px solid #777;
    }
    
    div.col-md-4 img {
    width: 100%;
    height: auto;
    }
    
    div.desc {
    padding: 15px;
    text-align: center;
    }
    
    .nav-links ul li a:hover{
    color: rgb(180, 65, 12);
    }
    .contain{
    max-width: 1200px;
    margin: auto;
    overflow: auto;
    background: #f2f2f2;
    }
    .contain.box{
    max-width: 1200px;
    margin: auto;
    overflow: auto;
    
    }
    .space::before{
    
    content: '';
    width: 70%;
    height: 2px;
    background: #000000;
    display: block;
    margin: auto;
    
    }
    